# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
ENV/
results/

# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Project specific
logs/
*.log
models/*.pkl
config/local_settings.json
sandbox_data/